body {
	padding: 0; /* Gets rid of the automatic padding */
	margin: 0;	/*	on HTML documents */
	padding-top: 0;
	font-family: Lucida Grande, Helvetica, Arial, sans-serif;
	font-size: 12px;
	background-color: white;
}
p{
	font-size: 14px;
}
h1{
	margin-bottom: 55px;
}
h2{
	text-align: center;
}
h3{
	text-align: left;
}
/*div{
	text-align: center;
}*/
#navigation {
	z-index: 3;
	/*min-width: 384px;*/
	position: fixed;
	top: 0;
	width: 100%;
	color: #ffffff;
	/*height: 45px;*/
	/*text-align: center;*/
	/*padding-top: 15px;*/
	/* Adds shadow to the bottom of the bar */
	/*-webkit-box-shadow: 0px 0px 8px 0px #000000;
	-moz-box-shadow: 0px 0px 8px 0px #000000;
	box-shadow: 0px 0px 8px 0px #000000;*/
	/* Adds the transparent background */
	/*background: rgba(73,155,234,1);*/
	/*background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(24,52,194,1) 100%);*/
	/*background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(24,52,194,1)));*/
	/*background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(24,52,194,1) 100%);*/
	/*background: -o-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(24,52,194,1) 100%);*/
	/*background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(24,52,194,1) 100%);*/
	/*background: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(24,52,194,1) 100%);*/
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#1834c2', GradientType=0 );
}

@media (max-width: 850px) {
    p{font-size: 20px;}
    body{font-size: 24px;}
    a{display: block;font-size:20px;}

}

@media (max-width: @screen-sm) {
    body{
    	
    	font-size: 14px;}
}

#navigation a {
	
	display: block;
	font-size: auto;
	padding-left: 11px;
	padding-right: 11px;
	height: 17px;
	max-height: 17px;

	color: white;
	text-decoration: none;
}


#navigation div{
	height: 45px;
	text-align: center;
	-webkit-box-shadow: 0px 4px 5px -2px #000000;
	-moz-box-shadow: 0px 4px 5px -2px #000000;
	box-shadow: 0px 4px 5px -2px #000000;
	padding-top: 15px;
	background: rgba(73,155,234,1);
}
#navigation a:hover {
	color: grey;
}

/* This just adds some style to the placeholder text */

#content {
	max-width: 900px;
	min-width: 100px;
	height: 28	0px;
	padding-top: 70px;
	padding-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

#content img {
	padding-top: 20px;
	padding-bottom: 30px;
}

#svg {
	text-align: center;
	width: 600px;
	height: 600px;
}
@media (max-width: 850px) {
	#portrait {
		text-align: center;
		
	}
	.img-center{
		margin:0 auto;
	}

}
div#portrait{
	text-align: center;
} 

#portrait img {
	/*float:left;*/
	
	/*margin-top: 80px;*/
	/*margin-left: 20%;*/
	
	width: 20em; 
	height:24em; 
	border-radius: 0.5em;
}
#title {
	font-size: 25px;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 30px;	
	padding-left: auto;
	padding-right: auto;
}
.jumbotron{
	padding: 0;
	margin: 0;
	padding-top: 80px;
	padding-bottom: 0px;
	background-color:transparent;
	text-align: center;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.left-padding { float: left; height:100%;max-width: 10%; padding:0px; margin: 10px; }

.section-head { 
        /*margin: 0px 0px 1em 0px; display: block; float: left; width: 10em; */
        text-align: center; font-family: "PT Sans", sans-serif; font-weight:700;
        text-transform: uppercase; padding: 0.09em 0px 0px 0px;
      }
.section-block { margin: 0px 0px 1.5em 2em; display: block; float: left; width: 33em; }
.section-block p { border-bottom: 1px #bcd dotted; }
